<h1>Eat the Burger!</h1>

<div class="container">
  <div class="row">
    <div class="col s6">
      {{#each burgers}}
      {{#unless this.devoured}}
      <div class="row">
        <div class="col-md-9">
          <ul>
            <li class="text-center">
              {{this.id}}. {{this.burger_name}}
        </div>
        <form action="/burgers/{{this.id}}" method="POST">
          <button type="submit" class="center-block">Eat It!</button>
        </form>
      </div>
      </li>
      {{/unless}}
      {{/each}}
      </ul>
    </div>

    <div class="col s6">
      {{#each burgers}}
      {{#if this.devoured}}
      <div class='burgerDevoured'>
        <div>
          <p class="text-center">
            {{this.id}}. {{this.burger_name}}
          </p>
        </div>
      </div>
      {{/if}}
      {{/each}}
    </div>
  </div>
</div>


<h2>Add a Burger!</h2>

<div class="row">
  <div class="col s12">
    <form action="/burgers" method="POST">
      <input type="text" id="name" name="burger_name" placeholder="Uber Delicious Burger">
      <button type="submit" class="addButton">Add The Burger</button>
    </form>
  </div>
</div>